.section {
    margin-top: 2.5rem;
    background-color: rgb(10, 18, 30);
    border-radius: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.err_text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 0, 0);
}

.form_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
}

.error {
    color: rgb(255, 0, 0);
}

.input {
    padding: 1.25rem;
    font-size: 1.25rem;
    font-size: 1.2rem;
    border: 1px solid rgb(45, 55, 72);
    border-radius: 0.6rem;
    background-color: rgba(115, 115, 116, 0.5);
    box-shadow: 0 2px 4px 0 rgb(12 0 46 / 4%);
}

.btn {
    display: inline-block;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

    background-color: rgb(22, 115, 255);
    border-radius: 0.4rem;
    border: 2px solid rgb(22, 115, 255);
    backface-visibility: hidden;
    will-change: transform;
    transition: transform 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    transform: scale(1.025);
}