.section {
    background-color: rgb(10, 18, 30);
    padding: 50px;
    margin-top: 40px;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.title {
    padding: 64px;
    font-size: 32px;
    text-align: center;
}

.err_text {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 0, 0);
}

.form_wrap {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 500px;
    padding: 32px;
}

.label {
    display: flex;
    flex-direction: column;
}

.error {
    color: rgb(255, 0, 0);
}

.input {
    padding: 10px;
    font-size: 24px;
    border: 1px solid rgb(45, 55, 72);
    background-color: rgb(45, 55, 72);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    padding: 1.8rem;
    box-shadow: 0 2px 4px 0 rgb(12 0 46 / 4%);
}

.img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(22, 115, 255);
    padding: 1.75rem 2.25rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 0.4rem;
    border: 2px solid rgb(22, 115, 255);
    transition: transform 0.3s ease 0s;
    backface-visibility: hidden;
    will-change: transform;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    transform: scale(1.025);
}