.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-right: auto;
    margin-left: auto;

    padding-right: 1.25rem;
    padding-left: 1.25rem;

    max-width: 120rem;
}

.posts_wrap {
    padding-top: 4rem;

    max-width: 120rem;
    width: 100%;

    list-style: none;
}

.post_item {
    padding-bottom: 2rem;
}

.comment_card {
    display: flex;
}

.comments_wrap {
    padding: 1rem;

    max-width: 40vw;
    list-style: none;

    color: rgb(163, 163, 163);
}

.comment_author {
    font-size: 0.7rem;
    color: black;
}